*{
    margin: 0;
    padding: 0;
}
#inText{
    height: 40px;
    width: 250px;
    border: 1px solid;
    border-color: cadetblue;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
}
.btn{
    height: 40px;
    width: 250px;
}
.container-fluid{
    overflow: hidden;
    min-height: 100dvh;
    background: rgb(56,68,75);
     background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%);
}
.card1{
    width: 300px;
    background: linear-gradient(150deg, #34D4D4 0%, #257B8E 100%);
    border-radius: 20px;
    margin-bottom: 50px;
}
.pic {
    width: 300px;
}
.pic img {
    position: relative;
    top: 70px;
    width: 150px;
}
.profile p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.profile p span{
    color: #ffffff;
    font-size: 10px;
}
